body {
   background: #232323;
   margin: 0;
   font-family: "Montserrat", "Avenir";
}

h1 {
   color: white;
   text-align: center;
   line-height: 1.1;
   background-color: steelblue;
   margin: 0;
   font-weight: normal;
   text-transform: uppercase;
   padding: 20px 0;
}

button {
   border: none;
   background: none;
   font-family: "Montserrat", "Avenir";
   letter-spacing: 1px;
   font-size: inherit;
   font-weight: 700;
   text-transform: uppercase;
   color: steelblue;
   height: 100%;
   outline: none;
   transition: all 0.3s;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
}

#container {
   max-width: 600px;
   margin: 20px auto;
}

#stripe {
   background-color: white;
   height: 30px;
   text-align: center;
   /* margin-bottom: 5px; */
}

#colorDisplay {
   font-size: 200%;
}

#message {
   display: inline-block;
   width: 20%;
}

.selected {
   background-color: steelblue;
   color: white;
}

.square {
   width: 30%;
   background: purple;
   padding-bottom: 30%;
   float: left;
   margin: 1.66%;
   border-radius: 15%;
   transition: background-color 0.6s;
   -webkit-transition: background-color 0.6s;
   -moz-transition: background-color 0.6s;
}

button:hover {
   color: white;
   background-color: steelblue;
}
